@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bot{
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-iteration-count:infinite;
}

.baixo{
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count:1;
}

.resp:hover{
    box-shadow: 5px 2px 5px 1px hotpink;
}

@media screen and (max-width: 630px) {
    .ans {
      width: 280px;
      height: auto;
    }
  }
